/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    height: 100vh;    
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 0;
    margin: 0;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* INSPECTOR */
#inspector {
    position: absolute;
    height: 100vh;
    width: 350px;
    padding-top: 50px;
}

#inspector .contenedor {
    background: gray;
    height: 100%;
    width: 100%;
    padding: 5px;
    overflow-y: auto;
}

/* RESULTADOS */
#resultados {
    position: absolute;
    bottom: 0;
    left: 350px;
    height: 300px;
    width: calc(100vw - 350px);
    padding-top: 50px;
}

    #resultados .contenedor {
        background-color: skyblue;
        height: 100%;
        width: 100%;
        padding: 5px;
        overflow-y: auto;
    }

/* EDITOR */
#editor {
    position: absolute;
    top: 50px;
    left: 350px;
    height: calc(100vh - 300px);
    width: calc(100vw - 350px);    
}

    #editor .contenedor {
        background-color: lightgray;
        height: 100%;
        width: 100%;
        padding: 5px;
    }

        #editor .contenedor #txt_input {
            width: 100%;
            height: 90%;
            resize: none;
        }

