<div id="editor">
    <div class="contenedor">
        <textarea id="txt_input"></textarea>
        <button id="btn_ejecutar" class="btn btn-primary">Ejecutar</button>
        <button id="btn_create_table" class="btn btn-warning">Create Table</button>

    </div>
</div>