<div id="inspector">
    <div class="contenedor">
        <ul>
            <li>
                <div class="tabla">
                    <span class="nombre">Tabla 1</span>
                    <ul class="columnas">
                        <li>ID</li>
                        <li>Nombre</li>
                        <li>Descripcion</li>
                    </ul>
                </div>
               
            </li>
        </ul>
    </div>

</div>