<div id="inspector">
    <div class="contenedor">
        <div id="arbol_tablas">            
        </div>        
    </div>

</div>

<script>
    function cargarTablas(tablasArray) {
        console.log(tablasArray);
        tablasArray.forEach(function (tabla) {
            cargarTabla(tabla);
        });
   }

    function cargarTabla(tabla) {
         
            $('#arbol_tablas').jstree().create_node('#',
                { "id": tabla.nombre, "text": tabla.nombre, "icon": "/images/table_icon.png" }, "last",
                function () {
                    for (var columna in tabla.columnas) {
                        $('#arbol_tablas')
                            .jstree()
                            .create_node(tabla.nombre, {
                                "text": columna + " " + tabla.columnas[columna] ,
                                "icon": "/images/field_icon.png"
                            }, "last");        
                    }
                }); 
    }
</script>