<div id="resultados">
    <div class="contenedor">
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Desc</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Jonathan</td>
                <td>Argueta</td>
            </tr>
        </table>
    </div>
</div>